@font-face {
    font-family: Coolvetica;
    src: url(/static/fonts/coolvetica\ rg.otf);
    font-weight: normal;
}

@font-face {
    font-family: Coolvetica;
    src: url(/static/fonts/coolvetica\ rg\ it.otf);
    font-style: italic;
}

@font-face {
    font-family: Coolvetica;
    src: url(/static/fonts/coolvetica\ condensed\ rg.otf);
    font-stretch: condensed;
}

@font-face {
    font-family: Coolvetica;
    src: url(/static/fonts/coolvetica\ crammed\ rg.otf);
    font-stretch: extra-condensed;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        --nav-height: 20%;
        margin: var(--nav-height) 0 0 0;
    }

    .layout_sidebar {
        background-color: white;
        display: flex;
        width: 100%;
        height: 8vh;
    }

    .sidebar_links {
        margin-top: 1.25em;
        margin-left: auto;
        margin-right: 12%;
        display: inline-flex;
    }

    #sidebar_image {
        display: none;
    }

    #sidebar_bio {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */ 
@media only screen and (min-width: 600px) {
    body {
        --nav-width: 20%;
        margin: 0 0 0 var(--nav-width);
    }

    .layout_sidebar {
        width: var(--nav-width);
        height: 100vh;
    }

    #sidebar_title {
        font-size: 1.6em;
    }

    #sidebar_tagline {
        font-size: 0.9em;
    }

    #sidebar_bio {
        font-size: 1.0em;
    }

    #sidebar_link {
        font-size: 1.5em;
    }

    #sidebar_image {
        width: 90%;
    }
}
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        --nav-width: 20%;
        margin: 0 0 0 var(--nav-width);
    }

    .layout_sidebar {
        width: var(--nav-width);
        height: 100vh;
    }

    #sidebar_title {
        font-size: 1.8em;
    }

    #sidebar_tagline {
        font-size: 1.0em;
    }

    #sidebar_bio {
        font-size: 1.0em;
    }

    #sidebar_link {
        font-size: 1.5em;
    }

    #sidebar_image {
        width: 90%;
    }    
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        --nav-width: 20%;
        margin: 0 0 0 var(--nav-width);
    }

    .layout_sidebar {
        width: var(--nav-width);
        height: 100vh;
    }

    #sidebar_title {
        font-size: 2.5em;
    }

    #sidebar_tagline {
        font-size: 1.5em;
    }

    #sidebar_bio {
        font-size: 1.25em;
    }

    #sidebar_link {
        font-size: 3em;
    }

    #sidebar_image {
        width: 90%;
    }
}
 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #sidebar_title {
        font-size: 3.35em;
    }

    #sidebar_tagline {
        font-size: 1.5em;
    }

    #sidebar_bio {
        font-size: 1.25em;
    }

    #sidebar_link {
        font-size: 3em;
    }
} 

body {
    font-family: Coolvetica;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#app {
    margin: 2em;
    line-height: 1.5;
}

.layout_sidebar {
    position: fixed;
    top: 0;
    left: 0;
}

#sidebar_title {
    color: #333333ff;
    white-space: nowrap;
    line-height: 85%;
    margin: 2% 5% 0% 5%;
}

#sidebar_tagline {
    color: #666666ff;
    font-weight: bold;
    font-style: italic;
    padding: 0 0 0 0;
    margin: 1% 5% 2% 5%;
}

#sidebar_bio {
    font-weight: normal;
    font-stretch: condensed;
    line-height: 1.05;
    color: #808080ff;
    margin: 0% 5% 0% 5%;
}

#sidebar_divider {
    margin-left: 1.0em;
    border-top: 1px solid #c7c7c7;
    border-bottom: 0px;
}

#sidebar_image {
    margin: 5% 5% 0% 5%;
}

#sidebar_link {
    display: block;
    white-space: nowrap;
    margin: 0% 5% 0% 5%;
    text-decoration: none;
    color: #333333ff;
    transition: color 0.25s;
}

#sidebar_link:hover {
    color: #c7c7c7;
}

.sidebar_links {
    margin-top: 6%;
}
